
<div class="container">
  <h1>Tous nos ressources</h1>

  <div class="card-grid" id="card-grid-article">
    <% @ressources.each do |r| %>
      <%= link_to ressource_path(r) do %>
        <div class="card-article card">
          <% if r.photo.attached? %>
            <div class="card-article-img" style="background-image: url('<%= cl_image_path r.photo.key, height: 300%>')">
              <%= image_tag "profil.jpg", class:"card-article-avatar avatar-small avatar" %>
            </div>
          <% else %>
            <div style="background-image: url(<%= asset_path 'article.jpg' %>)", class="card-article-img">
              <%= image_tag "profil.jpg", class:"card-article-avatar avatar-small avatar" %>
            </div>
          <% end %>
          <%= r.user.email %>
          <%= r.title %>
          <%= r.content %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>