
<div class="container-ressources">
  <div class="container">
    <div class=" container-search w-100">
      <div class="d-flex my-3"><%= image_tag "star.png", width: "60px", height:"60px", class:"mx-2" %><h2 class="my-3">Toutes nos ressources</h2></div>
      <div class="search-form d-flex flex-column align-items-end">
        <%= form_tag ressources_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Trouver une ressource"
          %>
          <%= submit_tag "Chercher", class: "btn btn-primary mx-2" %>
        <% end %>
      </div>
    </div>

    <div class="card-grid" id="card-grid-ressource" data-controller=" <%= current_user && current_user.admin ? "drag" : "no-drag" %> " data-drag-url="/ressources/:id/move"> 
      <% @ressources.each do |r| %>
        <%= link_to ressource_path(r), data:{id: r.id} do %>
          <div class="card-ressource card">
            <div class="card-ressource-img">
              <div id="ressource-photo"><%= photo(r) %></div>
            </div>
            <div class="position-relative p-2">
              <div class="card-ressource-avatar avatar-small avatar">
                <%= avatar(r.user) %>
              </div>
              <h3 class="my-4"><%= r.title %></h3>
              <p>
                <%= short_content(r) %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>