<div class="container">
  <%= simple_form_for(@ressource) do |f| %>
    <%= f.input :title, label: "Titre" %>
    <%= f.input :content, as: :rich_text_area, label: "Contenu" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Ajouter des images" %>
    <%= f.submit "Ajouter une ressource", class:"btn-primary" %>
  <% end %>
</div>