<div class="container">
  <div class="d-flex justify-content-between border-bottom my-4">
    <h3>Tableau de bord</h3>
    <h3>Ajouter une ressource</h3>
  </div>
  <%= simple_form_for(@ressource) do |f| %>
    <%= f.input :title, label: "Titre" %>
    <%= f.input :content, as: :rich_text_area, label: "Contenu" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Ajouter des images" %>
    <%= f.submit "Ajouter une ressource", class:"btn-primary" %>
  <% end %>
</div>