<div class="container">
  <h1>Tous nos articles</h1>

  <div class="card-grid" id="card-grid-article">
    <% @articles.each do |article| %>
      <%= link_to article_path(article) do %>
        <div class="card-article card">
          <% if article.photo.attached? %>
            <div class="card-article-img" style="background-image: url('<%= cl_image_path article.photo.key, height: 300%>')">
              <%= image_tag "profil.jpg", class:"card-article-avatar avatar-small avatar" %>
            </div>
          <% else %>
            <div style="background-image: url(<%= asset_path 'article.jpg' %>)", class="card-article-img">
              <%= image_tag "profil.jpg", class:"card-article-avatar avatar-small avatar" %>
            </div>
          <% end %>
          <p><%= article.user.name %></p>
          <p><%= article.title %></p>
          <p><%= article.content %></p>
        </div>
      <% end %>
    <% end %>
  </div>

</div>


