<div class="container-article">
  <div class="container ">
    <div class="filter-title-container">
      <div class="d-flex"><%= image_tag "star.png", width: "60px", height:"60px", class:"mx-2" %><h2 class="my-3">Nos projets</h2>
      </div>
      <div class="filter-container" data-controller="filter">
        <% Article::FILTERS.each do |filter| %>
          <%= form_tag articles_path, method: :get, class: "form-button" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control d-none", 
              value: filter %>
            <%= button_tag filter, class: "mx-2 filter-button" do %>
              <div  class="filter-bg <%= filter %> filter-unactive" 
                    data-filter-target="button"
                    data-action="click->filter#active"
                    >
              </div>
            <% end %>
            <p class="filter-title"> <%= filter %> </p>
          <% end %>
        <% end %>
        <%= link_to articles_path, class:"form-button" do %>
          <div class="filter-button">
            <div class="mx-2 filter-bg filter-all filter-unactive"
            data-filter-target="button"
            <%# data-action="click->filter#active" %>
            >
            </div>
          </div>
          <p class="filter-title">Tous nos projets</p>
        <% end %>
      </div>
    </div>
    <div class="card-grid" id="card-grid-article">


      <%= params[:query] ? "#{@filtered_articles.length} résultats pour la recherche '#{params[:query]}'" : "Tous les résultats"  %>
      <% @filtered_articles.each do |article| %>
        <%= link_to article_path(article) do %>
          <div class="card-article card d-flex">
            <div class="card-article-content justify-content-between">
              <div class="d-flex flex-column justify-content-between p-2">
                <div>
                  <h3><%= article.title %></h3>
                  <p><%= short_content(article) %></p>
                </div>
                <div class="text-grey">  Publié par <%= article.user.name %> le <%= date(article) %> </div>
              </div>
              <div class="card-article-img">
                <%= photo(article) %>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div data-controller="archive">
    <div class="d-flex my-4 align-items-center">
      <h2 class="">Projets Archivés</h2>
      <a href="" data-action="click->archive#openArchive" data-archive-target="button" class="mx-2 btn-primary">
        Voir les projets archivés?
      </a>
    </div>
    <div data-archive-target="dropdown" class="dropdown-archive display-none">
      <% @archived_articles.each do |article| %>
        <%= link_to article_path(article), class:"card-article-link" do %>
          <div class="card-article card d-flex my-3">
            <div class="card-article-content justify-content-between">
              <div class="d-flex flex-column justify-content-between p-2">
                <div>
                  <h3><%= article.title %></h3>
                  <p><%= short_content(article) %></p>
                </div>
                <div class="text-grey">  Publié par <%= article.user.name %> le <%= date(article) %> </div>
              </div>
              <div class="card-article-img">
                <%= photo(article) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



