<div class="container">
  <h1>Tous nos articles</h1>

  <div class="card-grid" id="card-grid-article">
    <% @articles.each do |article| %>
      <%= link_to article_path(article) do %>
        <div class="card-article card d-flex">
          <div class="d-flex">
            <div>
              <h3><%= article.title %></h3>
              <p><%= short_content(article) %></p>
            </div>
            <div class="card-article-img">
              <%= photo(article) %>
            </div>
          </div>
          <div  class="card-article-avatar avatar-small avatar">
            <%= avatar(article.user) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>


