<div class="container">
  <%= simple_form_for(@article) do |f| %>
    <%= f.input :title %>
    <%= f.rich_text_area_tag :content %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
