<div class="container">
  <%= simple_form_for((@article), data: {turbo: false}) do |f| %>
    <%= f.input :title %>
    <%= f.input :content, as: :rich_text_area %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
