
<div class="container center-element">

  <%= image_tag "profil.jpg", class:"avatar avatar-big" %>

  <%= link_to edit_users_admin_path(current_user), class:"btn-primary" do %>
      Mettre mon profil à jour
  <% end %>
  <%= link_to new_article_path, class:"btn-primary" do %>
      Créer un article
  <% end %>
  <%= link_to new_ressource_path, class:"btn-primary" do %>
      Ajouter une ressource
  <% end %>
  <%= link_to new_users_admin_path, class:"btn-primary" do %>
      Ajouter un membre
  <% end %>


</div>
