
<div class="container center-element p-3" id="container-user">
  <div class="avatar avatar-big" id="avatar-dash">
    <%= avatar(@user) %>
  </div>
  <div class="d-flex justify-content-center align-items-center my-2">
    <h2 class="m-0"><%= @user.first_name %> <%= @user.last_name %> </h2>
    <%= link_to edit_dashboard_path(current_user) do %>
      <i class="fa-solid fa-pen-to-square mx-2"></i>
    <% end %>
  </div>
  <p><%= @user.description %></p>
  <div class="flex-center">
    <%= link_to new_article_path, class:"btn-primary m-1" do %>
        Ajouter un projet
    <% end %>
    <%= link_to new_ressource_path, class:"btn-primary m-1" do %>
        Ajouter une ressource
    <% end %>
    <% if @user.super_admin == true %>
      <div class="d-flex m-1">
        <%= link_to new_dashboard_path, class:"btn-primary mx-1" do %>
            Ajouter un membre
        <% end %>
        <%= link_to users_path, class:"btn-secondary mx-1" do %>
            Supprimer un membre
        <% end %>
      </div>
    <% end %>
  </div>



</div>
