
<div class="container center-element p-3">
  <div class="avatar avatar-big" id="avatar-dash">
    <%= avatar(@user) %>
    <%= link_to edit_dashboard_path(current_user) do %>
      <i class="fa-solid fa-pen-to-square" id="edit-user"></i>
    <% end %>
  </div>
  <h2><%= @user.first_name %> <%= @user.last_name %> </h2>
  <p><%= @user.description %></p>

  <div class="flex-center">
    <%= link_to new_article_path, class:"btn-primary m-1" do %>
        Créer un article
    <% end %>
    <%= link_to new_ressource_path, class:"btn-primary m-1" do %>
        Ajouter une ressource
    <% end %>
    <% if @user.super_admin == true %>
      <%= link_to new_dashboard_path, class:"btn-primary m-1" do %>
          Ajouter un membre
      <% end %>
    <% end %>
  </div>



</div>
