<div class="navbar-ethno">

  <%# affichage hamburger si screen size == smartphone %>
  <div class="dropdown" id="dropdown-hamburger">
    <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><%= link_to "À propos de nous", root_path %></li>
      <li><%= link_to "Nos projets", articles_path %></li>
      <li><%= link_to "Nos partenaires", partners_path %></li>

      <%# <li><%= link_to "Nos Ressources", ressources_path</li> %>
      <li><%= link_to "Soutenez-nous!", support_path %></li> 
      <li><%= link_to "Contact", contact_path %></li>
      <% if user_signed_in? %>
        <div class="border-top bg-light">
          <%= link_to 'Tableau de Bord', dashboard_path(current_user) %>
          <%= button_to( "Log Out", destroy_user_session_path, method: :delete, id:"btn-logout") %>
        </div>
      <% end %>

    </ul>
  </div>

  <%# hamburger jusqu'ici %>

    <div id="logo" <%= params[:controller] == "pages" ? "class=logo-on-controller-pages" : "class=logo-on-other-pages" %>>
      <%= link_to image_tag("logo.png", height: 80), root_path%>
    </div>
  <div class="align-items-center" id="navbar-items">
    <%= link_to "À propos de nous", root_path, class:"underline-hover"  %>
    <%= link_to "Nos projets", articles_path, class:"underline-hover"  %>
    <%# <%= link_to "Nos Ressources", ressources_path, class:"underline-hover"%> 
    <%= link_to "Soutenez-nous!", support_path, class:"underline-hover"  %>
    <%= link_to "Nos partenaires", partners_path, class:"underline-hover" %>
    <%= link_to "Contact", contact_path, class:"underline-hover"  %>
    <div class="dropdown-container" data-controller="dropdown">
      <% if current_user %>
        <div data-action="click->dropdown#openDropdown", class="avatar avatar-small btn-dashboard">
            <%= avatar(current_user) %>
        </div>
      <% end %>
      <div class="navbar-dropdown display-none" data-dropdown-target="dropdown">
        <% if user_signed_in? %>
          <div class="dropdown-item">
            <%= link_to 'Tableau de Bord', dashboard_path(current_user) %>
          </div>
          <div class="dropdown-item">
            <%= button_to( "Log Out", destroy_user_session_path, method: :delete, id:"btn-logout") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


</div>