<div class="container-80">
  <div class="banner banner-top">
    <%= image_tag "logo.png", class:"logo-xs" %>
    <div class="banner-image-container">
      <%= image_tag "citycolor.png" %> 
    </div>

  </div>
</div>

<div class="container-80">
  <div class="banner banner-center">
    <div id="about">
      <%# <%= image_tag "line2.png", class:"d-none-xs" %> 
      <div class="about-text">

        <div class="d-flex justify-content-center">
          <%= image_tag "star.png", width: "60px", height:"60px" %>
          <h3 class="m-3">
            <%= @presentation1.name %>
          </h3>
          <% if current_user && current_user.super_admin %>
            <%= link_to edit_presentation_path(@presentation1) do %>
              <i class="fa-solid fa-pen-to-square">
              </i>
            <% end %>
          <% end %>
        </div>
        <div class="text-center ">
          <%= @presentation1.content %>
        </div>

      </div>
    </div>
  </div>

  <div class="d-flex my-3"><%= image_tag "star.png", width: "60px", height:"60px" %><h3 class="m-3">Nos membres permanents</h3></div>
  <div class="my-3"  id="team">
    <% @team.each do |member| %>
      <div class="d-flex flex-column align-items-center">
        <div class="avatar avatar-big" id="avatar-dash">
          <%= avatar(member) %>
        </div>
        <p id="member-name"> <strong><%= member.name %></strong> </p>
        <p><%= member.description %></p>
        <%= mail_to member.email %>
      </div>
    <% end %>
  </div>

  <div class="d-flex my-3"><%= image_tag "star.png", width: "60px", height:"60px" %><h3 class="m-3">Conseil d'Administration</h3></div>
  <div class="my-3"  id="board">
    <% @board.each do |member| %>
      <div class="d-flex flex-column align-items-center">
        <div class="avatar avatar-medium" id="avatar-dash">
          <%= avatar(member) %>
        </div>
        <p id="member-name"> <strong><%= member.name %></strong> </p>
        <p><%= member.description %></p>
      </div>
    <% end %>
  </div>
</div>

  <div class="banner my-5">
    <div id="presentation" class="d-flex">
      <div class="about-text ">
        <div class="d-flex justify-content-center my-3"><%= image_tag "star.png", width: "60px", height:"60px", class:"" %><h3 class="m-3"><%= @presentation2.name %></h3>
          <% if current_user && current_user.super_admin %>
            <%= link_to edit_presentation_path(@presentation2) do %>
              <i class="fa-solid fa-pen-to-square">
              </i>
            <% end %>
          <% end %>
        </div>
        <div class="text-center ">
          <%= @presentation2.content %>
        </div>
      </div>
    </div>
  </div>

<div class="bottom-container">

<%# j'ai laissé cette partie afin d'avoir de la matière pour que l'image de background s'affiche bien sur la bannière mais la partie est inutile d'où une opacité à 0, partie à changer avec texte réel %>
  <div class="banner my-5 empty-banner">
    <div class="d-flex">
      <div class="about-text opacity-0 ">
        <div class="text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis eros sed dolor mollis, a ornare nulla molestie. Quisque ac justo orci. Morbi vitae mollis tellus, et fringilla dolor. In pellentesque quis leo quis tincidunt. Nunc vel elementum turpis. Maecenas fringilla lobortis erat, ut ultrices ante maximus quis. Nam orci risus, efficitur ac tristique et, imperdiet quis erat. Sed interdum purus vel turpis mollis.
        </div>
      </div>
    </div>
  </div>
<%# jusqu'ici %>

  <div class="banner banner-bottom py-3">
    <div class="container" id="container-article-title">
      <div class="d-flex align-items-center"><%= image_tag "star.png", width: "60px", height:"60px", class:'mx-2' %><h3 class="">Nos derniers projets</h3></div>
      <div class="article-container my-3">
        <% @last_articles_with_photos.reverse.each do |article| %>
          <div class="rectangle-card" style="background-image: url('<%= cl_image_path article.photos.first.key, height: 300%>')">
            <p><%= article.title %></p>
            <%= link_to article_path(article) do %>
              <div class="btn-primary my-2" id="read-article">
                Voir le projet
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>